:root {
  color-scheme: dark;
  color: #e0e0e0;
  background-color: #1e1e1e;
  font-family: Verdana, sans-serif;
}

footer {
  padding: 10px;
  color: #858585;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
}

.icon {
  padding-left: 3px;
  padding-right: 5px;
}

.navbar {
  color: #ffffff;
  background-color: #468fff;
}

.navbar input {
  width: 150px;
  background-color: #3164b1;
}

#content {
  /* FIXME: magic numbers */
  min-height: calc(100vh - 50px - 95px);
  height: fit-content;
  margin: 50px 50px 0px 50px;
  font-family: monospace;
  /* text-align: center; */
}

#doc-container {
  text-align: left;
}

#doc-table {
  border-collapse: collapse;
}

#doc-content {
  /* FIXME: magic number */
  height: 70vh;
  width: 100%;
  background: transparent;
  font-size: 1em;
  font-family: monospace;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
}