:root {
  color-scheme: dark;
  color: #e0e0e0;
  background-color: #1e1e1e;
  font-family: monospace;
}

footer {
  padding: 10px;
  color: #858585;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
}

footer a {
  color: inherit;
}

#navbar {
  color: #ffffff;
  background-color: #468fff;
}

#navbar input {
  width: 150px;
  background-color: #3164b1;
}

#content {
  min-height: calc(100vh - 50px - 95px); /* FIXME: magic numbers */
  height: fit-content;
  margin: 50px 50px 0px 50px;
}

#doc-container {
  text-align: left;
}

#doc-table {
  border-collapse: collapse;
}

#doc-content {
  height: 70vh; /* FIXME: magic number */
  width: 100%;
  background: transparent;
  font-size: 1em;
  font-family: monospace;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
}