{% extends "base.html" %}

{% block content %}
<div style="text-align: center;">
  <h1 style="font-family: monospace;">404 - Not Found</h1>
  <div id="doc-container" style="display: flex; justify-content: center;"></div>
  <img id="image" style="max-height: 600px; max-width: 600px; height: auto; width: auto;">
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
  fetch("/404.py")
    .then((response) => { return response.text(); })
    .then((data) => {
      const parser = new DOMParser();
      const html = parser.parseFromString(data, "text/html");
      document.getElementById("doc-container").innerHTML = html.getElementById("doc-container").innerHTML;
    });

  fetch("https://api.waifu.pics/sfw/waifu")
    .then((response) => { return response.json(); })
    .then((data) => { document.getElementById("image").src = data.url; });
</script>
{% endblock %}
