<nav id="navbar">
  <div class="w3-bar w3-card" style="color: #ffffff; background-color: #468fff;">
    <a href="/main.py" class="w3-bar-item w3-button"><span class="fa fa-trash"></span>&nbsp;Wastebin</a>
    <a href="/docs" class="w3-bar-item w3-button"><span class="fa fa-code"></span>&nbsp;API</a>
    <a href="https://github.com/LemonPi314/wastebin" class="w3-bar-item w3-button">
      <span class="fa fa-github"></span>
      &nbsp;GitHub
    </a>
    <a href="/" class="w3-bar-item w3-button"><span class="fa fa-plus"></span>&nbsp;New</a>
    {% if save_button %}
    <a class="w3-bar-item w3-button" onclick="save();"><span class="fa fa-save"></span>&nbsp;Save</a>
    {% endif %}
    {% if duplicate_button %}
    <a class="w3-bar-item w3-button" onclick="duplicate();"><span class="fa fa-clone"></span>&nbsp;Duplicate</a>
    {% endif %}
  </div>
</nav>