{% extends "base.html" %}

{% block navbar %}
{{ super() }}
<a id="save-button" class="w3-bar-item w3-button w3-right" onclick="save();">
  <span class="icon"><i class="fa fa-save"></i></span>
  Save
</a>
<!-- options dropdown here -->
<input id="doc-filename" type="text" class="w3-bar-item w3-input w3-right" placeholder="Filename">
<!-- <input id="doc-id" type="text" class="w3-bar-item w3-input" placeholder="ID"> -->
<!-- <input id="doc-expire-in" type="time" class="w3-bar-item w3-input" placeholder="Expire in"> -->
{% endblock %}

{% block content %}
<div id="doc-container">
  <table id="doc-table">
    <tbody>
      <tr>
        <td class="linenos" width="37.5px">
          <pre><span class="normal">&nbsp;></span></pre>
        </td>
        <td width="100%" style="vertical-align: top;">
          <pre><textarea id="doc-content" placeholder="Paste or type some text..." spellcheck="false" oninput="this.style.height = this.scrollHeight + 'px';" autofocus></textarea></pre>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/new.js"></script>
{% endblock %}
