{% extends "base.html" %}

{% block head %}
{{ super() }}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block navbar %}
{{ super() }}
<a class="w3-bar-item w3-button" onclick="duplicate();"><span class="fa fa-clone"></span>&nbsp;Duplicate</a>
{% endblock %}

{% block content %}
<div id="doc-container">{{ doc.highlight() | safe }}</div>
<data id="doc-content" value="{{ doc.content }}"></data>
<data id="doc-filename" value="{{ doc.filename }}"></data>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
  load();
</script>
{% endblock %}